.scrollable {
  height: 850px;
  overflow-y: auto;
}

.components-scrollable {
  height: 975px;
  overflow-y: auto;
}

.instrument-info h1 {
  text-align: center;
}

.instrument-info h2 {
  text-align: center;
}

.instrument-info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table-container {
    height: 500px;
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

table tr:hover td {
  background-color: #14B5eb;
}
